body {
    text-align: center;
    background-color: rgb(35, 103, 102);
}

#imgtop{
    border-radius: 25%;

}


th{
    font-size: 35px;
}

#instaimg{
    position: absolute;
    margin-top: 215px;
    margin-left: 330px;
    height: 25px;
    width: 25px;
}


#twitterimg{
    position: absolute;
    margin-top: 215px;
    margin-left: 360px;
    height: 24px;
    width: 24px;
}
#masinfoagenda{
    font-size: 25px;
}
ul {
    list-style-type: none;
    font-size: 20px;
    font-style: italic;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
    color: violet;
}
#paz{
    margin-left: -250px;
}
div{
    margin-top: -20px;
    margin-left: 450px;
    color: orange;
}


footer{
    margin-top: 150px;
    color: white;
    font-size: 30px;
    font-family:sans-serif;
    background-color: black;
    margin-left: 150px;
    margin-right: 150px;
}